
  .navbar {
    overflow: hidden;
    background-color: white;
    font-family: Arial, sans-serif;
  }

  .navbar a {
    float: right;
    display: block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: darkgray;
    color: white;
    opacity: 10%;
  }

  .hero-image {
    background-image: url('images/IMG_3826.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20%;
  }

  .title {
    font-size: 5.5rem;
  }

  .hero-text {
    margin-left: 50px;
    font-size: 3rem;
    color: white;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
     font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .round-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 50px; /* This makes the button round */
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none; /* Optional: if the button is a link */
    transition: background-color 0.3s;
    opacity: 75%;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .round-button:hover {
    background-color: darkgray;
  }

  .content {
    padding: 20px; 
    font-size: 2rem;
    color: white;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
     font-style: normal;
    font-variation-settings: "wdth" 100;
}

  .content h2 {
    color: #333;
    font-size: 4rem;
  }

  .content p {
    color: #666;
    line-height: 1.6;
  }

  .gallery-img {
    border: 0;
    border-radius: 25%;
    padding: 5%;
  }

  .gallery {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 2.5rem;
    background: linear-gradient( to left, black, gray);
  }
  .gallery-item {
    width: 30%;
  }
  .gallery-item img {
    width: 100%;
    height: auto;
  }
  .gallery-item p {
    text-align: center;
  }

  /* Responsive design */
  @media (max-width: 768px) {
    .gallery {
      flex-direction: column;
      align-items: center;
    }
    .gallery-item {
      width: 80%;
      margin-bottom: 20px;
    }
  }

 /* For tablets and smaller desktops */
@media (max-width: 992px) {
    .navbar a {
      float: none;
      width: 100%;
      text-align: left;
    }
  
    .hero-image {
      padding-top: 15%;
    }
  
    .title {
      font-size: 4rem;
    }
  
    .hero-text {
      font-size: 2rem;
      margin-left: 20px;
    }
  
    .round-button {
      font-size: 1.5rem;
      padding: 8px 16px;
    }
  
    .content {
      font-size: 1.5rem;
    }
  }
  
  /* For mobile devices */
  @media (max-width: 768px) {
    .navbar a {
      padding: 12px 10px;
    }
  
    .hero-image {
      padding-top: 10%;
    }
  
    .title {
      font-size: 3rem;
    }
  
    .hero-text {
      font-size: 1.5rem;
      margin-left: 10px;
    }
  
    .round-button {
      font-size: 1rem;
      padding: 6px 12px;
    }
  
    .content {
      font-size: 1rem;
    }
  }